<style>
    .horizontal-columns {
        display: flex;
    }
    .horizontal-columns > div {
        flex: 1;
        padding: 20px;
        margin: 0 10px;
        text-align: center;
    }
    .h4-align {
        text-align: start;
    }
</style>

<ion-content>
    <h1  style="text-align: center;background-color: red;font-weight: 700;color: white;">TP HTML GROUPE 4</h1>
    <h1 style="font-weight: 700;">Trois paragraphes alignés</h1>
    <div class="horizontal-columns">
        <div>
            <h5 class="h4-align">l'intégration web est une phase qui permet de réaliser la maquette definitive d'un site web ou d'une application web. En fonction des besoins du client, mais aussi de l'identité qu'il souhaite afficher un intégrateur web est une personne maitrisant différents métiers du web.Il développe des sites web professionnels respectant les dernières normes en matières de comptabilité, notamment les normes du World Wide Web consortium. Les métiers du web sont nombreux.</h5>
        </div>
        <div>
            <h5 class="h4-align">Les métiers du web sont l'ensemble des métiers ayant pour but le développement et la maintenance de sites web. La classification des différents métiers du web est changeante selon les études, les pays, les différents auteurs. Ces métiers sont plus des fonctions regroupées en métiers selon l'entreprise, ou l'organisation. Pour plus de facilité on peut regrouper ces métiers en sept familles.</h5>
        </div>
        <div>
            <h5 class="h4-align">Les métiers du web sont l'ensemble des métiers ayant pour but le développement et la maintenance de sites web. La classification des différents métiers du web est changeante selon les études, les pays, les différents auteurs. Ces métiers sont plus des fonctions regroupées en métiers selon l'entreprise, ou l'organisation. Pour plus de facilité on peut regrouper ces métiers en sept familles.</h5>
        </div>
    </div>
    <h1 style="font-weight: 700;">Trois images alignés</h1>
    <div class="horizontal-columns">
        <div>
            <img src="assets/CF.jpg">
        </div>
        <div>
            <img src="assets/CF.jpg">
        </div>
        <div>
            <img src="assets/CF.jpg">
        </div>
    </div>
    <h3 style="background-color: black;color: white;">je suis un texte en blanc avec un fond noir</h3>

    <h1  style="font-weight: 700;">1-Les titres en HTML</h1>

    <h1  style="font-weight: 600;">je suis un titre en h1</h1>
    <h2  style="font-weight: 600;">je suis un titre en h2</h2>
    <h3  style="font-weight: 600;">je suis un titre en h3</h3>
    <h4  style="font-weight: 600;">je suis un titre en h4</h4>
    <h5  style="font-weight: 600;">je suis un titre en h5</h5>
    <h6  style="font-weight: 600;">je suis un titre en h6</h6>

    <h1  style="font-weight: 700;">2-Les paragraphes en HTML</h1>
    <h3  style="font-weight: 600;">1-Integration Web</h3>
    <h5 class="h4-align">l'intégration web est une phase qui permet de réaliser la maquette definitive d'un site web ou d'une application web. En fonction des besoins du client, mais aussi de l'identité qu'il souhaite afficher un intégrateur web est une personne maitrisant différents métiers du web.Il développe des sites web professionnels respectant les dernières normes en matières de comptabilité, notamment les normes du World Wide Web consortium. Les métiers du web sont nombreux.</h5>
    <h3  style="font-weight: 600;">2-Les Métiers du Web</h3>
    <h5 class="h4-align">Les métiers du web sont l'ensemble des métiers ayant pour but le développement et la maintenance de sites web. La classification des différents métiers du web est changeante selon les études, les pays, les différents auteurs. Ces métiers sont plus des fonctions regroupées en métiers selon l'entreprise, ou l'organisation. Pour plus de facilité on peut regrouper ces métiers en sept familles.</h5>
    <h1  style="font-weight: 700;">3-Les listes en HTML</h1>
    <h3  style="font-weight: 600;">1-Les listes non numérotées ou liste à puce</h3>
    <h3>.Pierre</h3>
    <h3>.Paul</h3>
    <h3>.Jacques</h3>
    <h3  style="font-weight: 600;">1-Les listes numérotées</h3>
    <h3>1.Lion</h3>
    <h3>2.Tigre</h3>
    <h3>3.Chat</h3>
    <h3>4.Loup</h3>
    <h1  style="font-weight: 700;">3-Les tableaux en HTML</h1>
    <div class="horizontal-columns">
        <div>
            <h5 class="h4-align">Noms</h5>
            <h5 class="h4-align">BONGO ONDIMBA</h5>
            <h5 class="h4-align">BIYA</h5>
            <h5 class="h4-align">OLIGUI NGUEMA</h5>
            <h5 class="h4-align">TSHISEKEDI</h5>
        </div>
        <div>
            <h5 class="h4-align">Prénoms</h5>
            <h5 class="h4-align">Ali</h5>
            <h5 class="h4-align">Paul</h5>
            <h5 class="h4-align">Brice Clotaire</h5>
            <h5 class="h4-align">Etienne</h5>
        </div>
        <div>
            <h5 class="h4-align">âges</h5>
            <h5 class="h4-align">64</h5>
            <h5 class="h4-align">90</h5>
            <h5 class="h4-align">45</h5>
            <h5 class="h4-align">55</h5>
        </div>
    </div>
    <h1  style="font-weight: 700;">4-Les formulaires en HTML</h1>
    <div class="horizontal-columns">
        <div>
            <ion-item>
                <ion-row>
                    <ion-item lines="none">
                      <ion-col size="4">
                        <ion-label class="label">Noms:</ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-input style="border: 2px solid black;" color="black"></ion-input>
                      </ion-col> 
                    </ion-item>
                </ion-row>
            </ion-item>        
        </div>
        <div>
            <ion-item>
                <ion-row>
                    <ion-item lines="none">
                      <ion-col size="4">
                        <ion-label class="label">Prénoms:</ion-label>
                      </ion-col>
                      <ion-col style="border: 2px solid black;" size="6">
                        <ion-input color="black"></ion-input>
                      </ion-col> 
                    </ion-item>
                </ion-row>
            </ion-item>
        </div>
        <div>
            <ion-item>
                <ion-row>
                    <ion-item lines="none">
                      <ion-col size="4">
                        <ion-label class="label">âge:</ion-label>
                      </ion-col>
                      <ion-col style="border: 2px solid black;" size="6">
                        <ion-input color="black"></ion-input>
                      </ion-col> 
                    </ion-item>
                </ion-row>
            </ion-item>
        </div>
        <div>
            <ion-item>
                <ion-row>
                    <ion-item lines="none">
                      <ion-col size="4">
                        <ion-label class="label">Email:</ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button style="border: 2px solid black;" color="dark">envoyer</ion-button>
                      </ion-col> 
                    </ion-item>
                </ion-row>
            </ion-item>
        </div>
    </div>
    <h1  style="font-weight: 700;">7-Les images en HTML</h1>
    <img src="assets/CF.jpg">
    <h1  style="font-weight: 700;">8-La vidéo en HTML</h1>
    <h1  style="font-weight: 700;">9-La vidéo en HTML</h1>
    <h1  style="font-weight: 700;">9-1 La vidéo en HTML</h1>
    


</ion-content>