

<ion-content>
    <h1  style="text-align: center;background-color: blue;font-weight: 700;color: white;">TP CSS GROUPE 4</h1>
    <h1>1-Formatage du texte</h1>

    <h1 class="souligne">1-1 font size: la taille du texte</h1>
    <h1 style="font-size: 15px;">je suis un texte de 15 pixels</h1>
    <h1 style="font-size: 20px;">je suis un texte de 20 pixels</h1>
    <h1 style="font-size: 30px;">je suis un texte de 30 pixels</h1>
    <h1 style="font-size: 40px;">je suis un texte de 40 pixels</h1>
    <h1 style="font-size: 50px;">je suis un texte de 50 pixels</h1>
    <h1 style="font-size: 60px;">je suis un texte de 60 pixels</h1>

    <h1 class="souligne">1-2 font-family: la police du texte</h1>
    <h1 style="font-family: Arial;">je suis une police Arial</h1>
    <h1 style="font-family: Arial Black;">je suis une police Arial Black</h1>
    <h1 style="font-family: Comic sans MS;">Comic sans MS </h1>
    <h1 style="font-family: 'Courier New'">Courrier new</h1>
    <h1 style="font-family: Georgia;">Georgia</h1>

    <h1 class="souligne">1-3 font-style: texte en italic ou en oblic</h1>
    <h1 style="font-style: italic;">je suis un texte en italic</h1>
    <h1 style="font-style: oblique;">je suis un texte oblique</h1>

    <h1 class="souligne">1-4 font-weight: le gras</h1>
    <h1 style="font-weight: 600;">je suis un texte en Gras</h1>
    
    <h1 class="souligne">1-5 text-decoration: le soulignement</h1>
    <h1 class="souligne">je suis un texte souligné</h1>
    <h1 class="barré">je suis un texte barré</h1>
    <h1>ligne au dessus</h1>

    <h1 class="souligne">1-6 l'Alignement</h1>
    <h1>je suis un texte aligné à gauche</h1>
    <h1 style="text-align: center;">je suis un texte centrée</h1>
    <h1 style="text-align: end;">je suis un texte aligné à droite</h1>
    <h1>je suis un texte justifier</h1>

    <h1 class="souligne">2-La couleur et le fond</h1>
    <h1 style="color: lightgray;">je suis un text blanc</h1>
    <h1>je suis un texte noir</h1>
    <h1 style="color: yellow;">je suis un texte jaune</h1>
    <h1 style="color: blue;">je suis un texte bleu</h1>
    <h1 style="color: green;">je suis un texte vert</h1>
    <h1 style="color: orange;">je suis un texte orange</h1>
    <h1 style="color: brown;">je suis un texte marron</h1>
    <h1 style="color: red;">je suis un texte rouge</h1>
    <h1 style="background-color: red;text-align: center;color: white;">JE SUIS UN CADRE EN BLEU ET CENTRE</h1>
    <h1 style="background-color: blue;text-align: center;color: white;">je suis un cadre bleu je suis un cadre bleu je suis un bleu je suis un cadre bleu je suis un cadre bleu je suis un cadre bleu je suis un cadre bleu je suis cadre bleu</h1>
    <h1 style="background-color: white;color: black;">je suis un tableau avec un fond blanc</h1>
    <ion-grid>
        <ion-row>
            <ion-col row="3">
                <h1 style="color: red;">Noms</h1>
                <h1>DUPON</h1>
                <h1>MAMADOU</h1>
                <h1>ALLOGO</h1>
                <h1>MOUSSAVOU</h1>
            </ion-col>
            <ion-col row="3">
                <h1 style="color: red;">Prénoms</h1>
                <h1>Paul</h1>
                <h1>SAMBA</h1>
                <h1>CELLESTIN</h1>
                <h1>Jean Claude</h1>
            </ion-col>
            <ion-col row="3">
                <h1 style="color: red;">Classe</h1>
                <h1>TC1B</h1>
                <h1>RT1A</h1>
                <h1>GI1B</h1>
                <h1>AV2</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

    <h1 style="font-weight: 700;text-align: center;">LE CSS</h1>
    <h1 style="font-weight: 600;">Introduction</h1>
    <h1>Après avoir passé toute une première partie du cours à ne travailler que sur le HTML,</h1>
    <h1>nous allons maintenant découvrir le CSS que j'avais volontairement mis à l'écart. Le CSS n'est pas plus compliqué que le HTML. IL</h1>
    <h1>vient le compléter pour vous aidez à mettre en forme votre page web.</h1>
    <h1>Dans ce chapitre sur le CSS, nous allons voir la théorie sur le CSS: qu'est ce que c'est ? à quoi cela ressemble t-il ? Ou est ce qu'on écrit du code CSS ? ces aspects théorique ne sont pas bien compliqués mais vous devez obligatoirement les connaitrent car c'est la base du CSS. C'est d'ailleurs la seule chose que je vous demanderais de retenir par coeur en CSS, Vous pourrez retrouver le reste dans le mémo en annexe</h1>
    <h1>Il faut savoir qu'aux débuts du web, CSS n'existait pas. En fait, il n'y avait initialement que le langage HTML. Le HTML est né en 1991 et CSS en 1996. Alors, vous vous dites sûrement: comment faisait-on la mise en forme de 1991 à 1996 ? Et bien, uniquement en HTML ! il y avait en effet des balises dediées à la mise en forme.Par exemple, permettait de definir la couleur du texte</h1>
    <h1>Cependant, les pages en HTML commençaient à devenir assez complexes.</h1>
    <h1>il y avait de plus en plus de balise et c'était un joyeux mélange entre le fond et la forme, qui rendait la mise à jour des pages web de plus en plus complexe. C'est pour cela que l'on a crée le langage CSS. Cependant, le CSS n'a pas été adopté immédiatement par les webmasters, loin de là.</h1>
    <h1>il fallait se defaire de certaines mauvaise habitudes et cela a pris du temps. Encore aujourd'hui, on peut trouver des sites web avec des balises HTML de mise en forme, anciennes et obsolètes, comme!</h1>
    <br>
    <h1 style="font-weight: 600;">formulaire avec fond gris avec des zones de texte blanc</h1>
    
    <ion-card style="background-color: gray;">
       
      
    </ion-card>
    


</ion-content>