ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
  url("/assets/VX.JPG") no-repeat center center / cover;
}

.image-container {
  position: relative;
  padding-bottom: 93%;
}

.image1 {
  position: absolute;
  display: block;
  top: 22%;
  left: 38%;
  width: 245px;
  height: 60%;
}

.image2 {
  position: absolute;
  display: block;
  top: 22%;
  right: 38%;
  width: 245px;
  height: 60%;
}

.button1 {
  position: absolute;
  display: block;
  right: 38%;
  height: 40%;
}

.button2 {
  position: absolute;
  display: block;
  left: 38%;
  height: 40%;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
