<ion-header [translucent]="false">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Achat/Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Bienvenue</h1>
    <p> Vous trouverez des véhicule parmi une sélection de qualité dans le service de location et d'achat provenant de concessionnaires agréés.</p>
    <br>
    <ion-segment (ionChange)="segmentChanged($event)" value="Acheter un véhicule">
      <ion-segment-button value="Acheter un véhicule">
        <ion-label>Achat</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Louer un véhicule">
        <ion-label>Location</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  <div  *ngIf="showContent && showAchatContent">
    <!-- Contenu pour acheter un véhicule -->
    <ion-card  [ngClass]="{'hidden': userEmail !== 'davidtshipangila@gmail.com'}">
      <!-- Partie supérieure pour les photos -->
      <ion-card-content>
        <div class="swiper-container" #slides>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
            </div>
            <div class="swiper-slide">
              <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
            </div>
            <div class="swiper-slide">
              <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </ion-card-content>
      <!-- Partie inférieure pour les informations -->
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p>marque :</p>
              <ion-input class="font" type="text" [(ngModel)]="marque"></ion-input>
              <p>modele :</p>
              <ion-input type="text" [(ngModel)]="modele"></ion-input>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Prix :</p>
              <ion-item lines="none"> 
                <ion-icon slot="start" size="large" src="assets/icon/dollar.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="prix"></ion-input>
              </ion-item>   
            </ion-col>
            <ion-col size="6"> 
              <p class="ion-text-center">Boîte :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/moteur.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="boite"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Carburant :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/boîte.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="carburant"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">kilométrage :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/kilométrage.svg"></ion-icon>
                <ion-input type="text"  [(ngModel)]="kilometrage"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">année :</p>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="annee">
                  <ion-icon slot="start" size="large" name="calendar-outline"></ion-icon>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button shape="round" expand="block" color="dark" (click)="VoitureAchat()">Ajouter Voiture</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="showContent && !showAchatContent">
    <ion-card  [ngClass]="{'hidden': userEmail !== 'davidtshipangila@gmail.com'}">
      <!-- Partie supérieure pour les photos -->
      <ion-card-content>
        <div class="swiper-container" #slides>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
            </div>
            <div class="swiper-slide">
              <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
            </div>
            <div class="swiper-slide">
              <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </ion-card-content>
      <!-- Partie inférieure pour les informations -->
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p>marque :</p>
              <ion-input class="font" type="text" [(ngModel)]="marqueLoc"></ion-input>
              <p>modele :</p>
              <ion-input type="text" [(ngModel)]="modeleLoc"></ion-input>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Prix :</p>
              <ion-item lines="none"> 
                <ion-icon slot="start" size="large" src="assets/icon/dollar.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="prixjour"></ion-input>
              </ion-item>   
            </ion-col>
            <ion-col size="6"> 
              <p class="ion-text-center">Boîte :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/moteur.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="boiteLoc"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Carburant :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/boîte.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="carburantLoc"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button shape="round" expand="block" color="dark" (click)="VoitureLocation()">Ajouter Voiture</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

