.background-image {
  --background: url('../../assets/VX.JPG');
  background-size: cover; /* ou background-size: contain; */
  background-repeat: no-repeat;
}

.image-container {
  overflow: hidden !important;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-half {
  overflow: hidden !important;
  position: relative;
  height: 50vh;
  box-sizing: border-box;
}

.bottom-half {
  overflow: hidden !important;
  position: relative;
  height: 50vh;
  box-sizing: border-box;
}

.top-left-image {
  width: 65%;
  height: 65%;
  position: absolute;
  top: 18%;
  right: 0;
  border: 2px solid black;
}

.footer-right-image {
  width: 65%;
  height: 65%;
  position: absolute;
  top: 18%;
  left: 0;
  border: 2px solid black;
}

.text-button {
  position: absolute;
  background: black;
  color: white;
  width: 35%;
  height: 50%;
  right: 0;
  top: 25%;
  text-align: center;
  font-weight: 700;
  -webkit-animation: scale-up-center 2s ;
  animation: scale-up-center 2s ;
}
.text-button p {
  margin: 5px;
}
.text-button2 p {
  margin: 5px;
}
.text-button2 {
  position: absolute;
  background: black;
  color: white;
  width: 35%;
  height: 50%;
  left: 0;
  top: 25%;
  text-align: center;
  font-weight: 700;
  -webkit-animation: scale-up-center 2s ;
  animation: scale-up-center 2s ;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .top-left-image,.footer-right-image {
    width: 65%;
  }
}