<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Achat/Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <div class="image-container">
    <div class="top-half">
      <img class="top-left-image" src="assets/hyundai_palisade_2020_4k-HD.jpg" alt="Image 1">
      <div class="text-button2">
        <p>procéder à l'achat de votre véhicule en toute sécurité</p>
        <ion-button shape="round" color="dark" routerLink="/achat-de-vehicule">Achat</ion-button>
      </div>
    </div>
    <div class="bottom-half">
      <img class="footer-right-image" src="assets/drive.jpg" alt="Image 2">
      <div class="text-button">
        <p>obtener la location d'un véhicule en toute sécurité</p>
        <ion-button shape="round" color="dark" routerLink="/location">Location</ion-button>
      </div>
    </div>
  </div>
</ion-content>

