.hidden {
  display: none;
}

.label {
  display: block; /* Assure que le label occupe toute la largeur au-dessus de la liste */
  margin-bottom: 8px; /* Ajoute un espace entre le label et la liste */
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  font-weight: 720;
  color: black;
}

.boot {
  font-size: 13px;
  font-weight: 720;
}

/* Style pour le conteneur du swiper */
.swiper-container {
  width: 100%; /* Pour remplir la largeur de son conteneur parent */
  height: 300px; /* Pour remplir la hauteur de son conteneur parent */
}


/* Style pour chaque slide dans le swiper */
.swiper-slide {
  width: 100%; /* Pour remplir la largeur du conteneur swiper */
  height: 100%; /* Pour remplir la hauteur du conteneur swiper */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Pour cacher tout ce qui dépasse des slides */

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Ajustez la largeur selon vos besoins */
  height: 100%;
  border-radius: 20px; /* Assurez-vous que les coins sont arrondis */
  overflow: hidden;
}

/* Style pour les images dans les slides */
.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  width: 100%; /* Assure que les contenus remplissent la largeur du conteneur */
  height: 100%; /* Assure que les contenus remplissent la hauteur du conteneur */
  object-fit: cover; /* Maintient l'aspect ratio et remplit le conteneur */
}

.swiper-pagination-bullet {
  background-color: white; /* Couleur de fond des boutons de pagination */
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* Couleur des flèches de navigation */
}

/* Optionnel : Ajouter des styles hover pour les flèches de navigation */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white; /* Couleur des flèches de navigation au survol */
}

.font {
  font-size: 24px;
  font-weight: 900;
}

.header {
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 22px;
  color: white;
}

h1 {
  font-family: auto;
  margin-bottom: -15px;    
  margin-top: 0px;    
  font-size: xx-large;    
  font-style: italic;    
  font-weight: 800;  
  text-align: start;  
  padding: 9px;
}

p {
  margin: 1px 0 0;    
  padding: 9px;    
  font-size: 17px;    
  text-align: start;    
  line-height: 1.3;    
  word-spacing: -2.4px;    
  font-weight: 200;    
  font-style: oblique;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label.marque {
  margin-top: 7px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px; /* Espace entre les labels et les listes */
}

.label.price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
}

.inline {
  display: inline-block;
  margin-right: 8px; /* Espace entre les éléments du label */
}

.horizontal-list {
     display: flex;
    justify-content: flex-start;
    list-style-type: disc;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 7px;
    margin-left: 18px;
}

.horizontal-list li {
  margin-right: 20px; /* Espace entre les éléments de la liste */
}
