<ion-header [translucent]="false">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Achat/Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Bienvenue !</h1>
    <p>Dans le service d'achat et de location. Vous trouverez des véhicules provenant de particulier ou de concessionaire agrées.</p>
    <br>
    <ion-segment (ionChange)="segmentChanged($event)" value="Acheter un véhicule">
      <ion-segment-button value="Acheter un véhicule">
        <ion-label>Achat</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Louer un véhicule">
        <ion-label>Location</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  <div  *ngIf="showContent && showAchatContent">
    <!-- Contenu pour acheter un véhicule -->
    <ion-card  [ngClass]="{'hidden': userEmail !== 'davidtshipangila@gmail.com'}">
      <!-- Partie supérieure pour les photos -->
      <ion-card-content>
        <div class="swiper-container" #slides>
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let img of defaultImages; let i = index">
              <img *ngIf="!selectedImages[i] || (selectedImages[i])" [src]="selectedImages[i] || img" (click)="triggerFileInput(i)">
              <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event, i)" class="file-input">
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </ion-card-content>
      <!-- Partie inférieure pour les informations -->
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p>marque :</p>
              <ion-input class="font" type="text" [(ngModel)]="marque"></ion-input>
              <p>modele :</p>
              <ion-input type="text" [(ngModel)]="modele"></ion-input>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Prix :</p>
              <ion-item lines="none"> 
                <ion-icon slot="start" size="large" src="assets/icon/dollar.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="prix"></ion-input>
              </ion-item>   
              <p class="ion-text-center">Fournisseur :</p>
              <ion-input type="text" [(ngModel)]="fournisseur"></ion-input>
            </ion-col>
            <ion-col size="6"> 
              <p class="ion-text-center">Boîte :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/moteur.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="boite"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Carburant :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/boîte.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="carburant"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">kilométrage :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/kilométrage.svg"></ion-icon>
                <ion-input type="text"  [(ngModel)]="kilometrage"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">année :</p>
              <ion-item lines="none">
                <ion-input type="text" [(ngModel)]="annee">
                  <ion-icon slot="start" size="large" name="calendar-outline"></ion-icon>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button shape="round" expand="block" color="dark" (click)="VoitureAchat()">Ajouter Voiture</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-list *ngFor="let voiture of voituresAchat" lines="none">
      <ion-card class="card">
        <img class="swiper-img" [src]="voiture.images[0]">
        <ion-item style="width:100%;" color="dark" lines="none">
          <div class="content">
            <ion-label class="label marque">
              <span style="font-size: large;" class="inline">{{ voiture.marque }}</span>
              <span style="font-size: large;" class="inline">{{ voiture.modele }}</span>
              <span style="font-size: large;" class="inline">{{ voiture.annee }}</span>
            </ion-label>
            <ul class="horizontal-list">
              <li>{{ voiture.boite }}</li>
              <li>{{ voiture.carburant }}</li>
              <li>{{ voiture.kilometrage }}Km</li>
              <!-- Ajoutez d'autres détails de la voiture ici -->
            </ul>
            <ion-label class="label price">
              <span class="inline" style="color: #208715;">{{ voiture.prix }} Fcfa</span>
              <span class="inline" style="font-size: 14px;">{{ voiture.fournisseur }}</span>
            </ion-label>
          </div>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="showContent && !showAchatContent">
    <ion-card  [ngClass]="{'hidden': userEmail !== 'davidtshipangila@gmail.com'}">
      <!-- Partie supérieure pour les photos -->
      <ion-card-content>
        <div class="swiper-container" #slides>
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let img of defaultImages; let i = index">
              <img *ngIf="!selectedImages[i] || (selectedImages[i])" [src]="selectedImages[i] || img" (click)="triggerFileInput(i)">
              <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event, i)" class="file-input">
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </ion-card-content>
      <!-- Partie inférieure pour les informations -->
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p>marque :</p>
              <ion-input class="font" type="text" [(ngModel)]="marqueLoc"></ion-input>
              <p>modele :</p>
              <ion-input type="text" [(ngModel)]="modeleLoc"></ion-input>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Prix :</p>
              <ion-item lines="none"> 
                <ion-icon slot="start" size="large" src="assets/icon/dollar.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="prixjour"></ion-input>
              </ion-item>
              <p class="ion-text-center">Fournisseur :</p>
              <ion-input type="text" [(ngModel)]="fournisseurLoc"></ion-input>  
            </ion-col>
            <ion-col size="6"> 
              <p class="ion-text-center">Boîte :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/moteur.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="boiteLoc"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <p class="ion-text-center">Carburant :</p>
              <ion-item lines="none">
                <ion-icon slot="start" size="large" src="assets/icon/boîte.svg"></ion-icon>
                <ion-input type="text" [(ngModel)]="carburantLoc"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button shape="round" expand="block" color="dark" (click)="VoitureLocation()">Ajouter Voiture</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none" *ngFor="let voiture of voituresLocation">
      <ion-card class="card">
        <img class="swiper-img" [src]="voiture.images[0]">
<ion-item style="width:100%;" color="dark" lines="none">
  <div class="content">
    <ion-label class="label marque">
      <span style="font-size: large;" class="inline">{{ voiture.marqueLoc }}</span>
      <span style="font-size: large;" class="inline">{{ voiture.modeleLoc }}</span>
    </ion-label>
    <ul class="horizontal-list">
      <li>{{ voiture.boiteLoc }}</li>
      <li>{{ voiture.carburantLoc }}</li>
    </ul>
    <ion-label class="label price">
      <span class="inline" style="color: #208715;">{{ voiture.prixjour }} Fcfa/Jour</span>
      <span class="inline" style="font-size: 14px;">{{ voiture.fournisseurLoc }}</span>
    </ion-label>
  </div>
</ion-item>
      </ion-card>
    </ion-list>
  </div>

</ion-content>

