ion-content {
  --ion-background-color: var(--ion-color-dark);
}

.img-intro {
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: -5px;
  object-fit: cover;
  display: block;
}

swiper-container {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  margin-bottom: -5px;
  object-fit: cover;
  display: block;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-title {
  color: white;
  margin: 10px 0px 5px 5px;
  font-weight: 550;
}

.scroll-box {
  display: flex;
  overflow: scroll;
}

.model img {
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  max-width: none;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid white;
  margin-top: 3px;
}

.model p {
  font-size: 12px;
  text-align: center;
  margin: 2px 0px 0px 0px;
  font-weight: 800;
  color: white;
}