<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      AlloCars
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="img-intro" src="assets/login2.png">
  <p class="box-title">Nos marques</p>
  <br>
  <div class="scroll-box">

    <div class="model">
      <img src="assets/toyota.jpg">
      <p>Toyota</p>
    </div>

    <div class="model">
      <img src="assets/mitsubishi.png">
      <p>Mitsubishi</p>
    </div>

    <div class="model">
      <img src="assets/hyundai.png">
      <p>Hyunday</p>
    </div>

    <div class="model">
      <img src="assets/kaiyi.png">
      <p>Kaiyi</p>
    </div>

    <div class="model">
      <img src="assets/mercedes.png">
      <p>Mercedes</p>
    </div>

    <div class="model">
      <img src="assets/nissan.png">
      <p>Nissan</p>
    </div>

    <div class="model">
      <img src="assets/Kia.PNG">
      <p>KIA</p>
    </div>

    <div class="model">
      <img src="assets/peugoet2.jpg">
      <p>Peugeot</p>
    </div>

    <div class="model">
      <img src="assets/Renault.png">
      <p>Renault</p>
    </div>

    <div class="model">
      <img src="assets/ssangyong.png">
      <p>SsangYong</p>
    </div>

    <div class="model">
      <img src="assets/jeep.png">
      <p>Jeep</p>
    </div>

    <div class="model">
      <img src="assets/mazda.png">
      <p>Mazda</p>
    </div>

    <div class="model">
      <img src="assets/lexus.png">
      <p>Lexus</p>
    </div>


    <div class="model">
      <img src="assets/honda.png">
      <p>Honda</p>
    </div>

    <div class="model">
      <img src="assets/chevrolet.png">
      <p>Chevrolet</p>
    </div>

    <div class="model">
      <img src="assets/landrover.png">
      <p>LandRover</p>
    </div>
     
  </div>
  <br>
  <p class="box-title">Nos Partenaires</p>
  <br>
  <div class="scroll-box">

    <div class="model">
      <img src="assets/Cfao.PNG">
      <p>Cfao Motors</p>
    </div>

    <div class="model">
      <img src="assets/GABONSA.PNG">
      <p>Gabon Sprint Auto</p>
    </div>

    <div class="model">
      <img src="assets/VIP.png">
      <p>VIP Motors</p>
    </div>

    <div class="model">
      <img src="assets/luxury.PNG">
      <p>Luxury cars</p>
    </div>

    <div class="model">
      <img src="assets/toyota.PNG">
      <p>Toyota Gabon</p>
    </div>

    <div class="model">
      <img src="assets/MMO.PNG">
      <p>Mitsubishi Motors Gabon</p>
    </div>

    <div class="model">
      <img src="assets/Kia.PNG">
      <p>KIA Gabon</p>
    </div>

    <div class="model">
      <img src="assets/peugoet2.jpg">
      <p>Peugeot Gabon</p>
    </div>

    <div class="model">
      <img src="assets/SG.PNG">
      <p>SsangYong Gabon</p>
    </div>

    <div class="model">
      <img src="assets/ella.PNG">
      <p>Ella Motors</p>
    </div>

    <div class="model">
      <img src="assets/bokoum.PNG">
      <p>Bokoum Service</p>
    </div>

    <div class="model">
      <img src="assets/africar.PNG">
      <p>Africar</p>
    </div>

    <div class="model">
      <img src="assets/loxea.png">
      <p>Loxea/Avis Fleet Gabon</p>
    </div>

    <div class="model">
      <img src="assets/kinshasa.jpg">
      <p>Kar Motors</p>
    </div>

    <div class="model">
      <img src="assets/gex2.PNG">
      <p>Kryss Auto/&/Gex Auto</p>
    </div>

    <div class="model">
      <img src="assets/ATN.PNG">
      <p>ATN Cars Auto Market</p>
    </div>

    <div class="model">
      <img src="assets/hassan.PNG">
      <p>Hassan Auto</p>
    </div>

    <div class="model">
      <img src="assets/arabe.PNG">
      <p>Al-Jannah Company</p>
    </div>
     
  </div>
  <br>
  <p class="box-title">Offres à la Une</p>
  <br>

  <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
    <swiper-slide>
      <img src="assets/hyundai_palisade_2020_4k-HD.jpg">  
      <ion-item color="dark" lines="none">
        <ion-label class="label">Accéder à l'achat du véhicule:</ion-label>
        <ion-button shape="round" class="boot" routerLink="/achat-de-vehicule">Acheter</ion-button>
      </ion-item>    
    </swiper-slide>
    <swiper-slide>
      <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
      <ion-item color="dark" lines="none">
        <ion-label class="label">Accéder à la location du véhicule:</ion-label>
        <ion-button shape="round" class="boot" routerLink="/location">Location</ion-button>
      </ion-item>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/hyundai_palisade_2020_4k-HD.jpg">
      <ion-item color="dark" lines="none">
        <ion-label class="label">Allez commander votre Taxi:</ion-label>
        <ion-button shape="round" class="boot" routerLink="/tabs/tab2">Taxi</ion-button>
      </ion-item>
    </swiper-slide>
  </swiper-container>

 
</ion-content>
