.flex {
    margin-top: -88px;
    display: flex;
    justify-content: center;
}

.border-blanc {
    border: 5px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-black {
    position: relative;
    border:8px solid black;
    border-radius: 50%;
    width: fit-content;
}

.img-box {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    color: black;
}

img {
    height: 150px;  
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header {
    background-color: black;
    height:220px;
    padding-top: 1px;
}

.border-black ion-button {
    position: absolute;
    width: 45px;
    overflow: hidden;
    display: flex;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
}