.flex {
    margin-top: -88px;
    display: flex;
    justify-content: center;
}

.font1 {
    font-size: 24px;
    font-weight: 800;
}

.font2 {
    font-size: 99%;
    font-weight: bolder;
}

.border-blanc {
    border: 5px solid white;
    border-radius: 50%;
    width: fit-content;
}

.background-grey {
    background-color: #f0f0f0; /* ou toute autre couleur de gris que vous préférez */
    padding: 10px; /* ajoutez du padding si nécessaire */
}

.border-black {
    position: relative;
    border:8px solid black;
    border-radius: 50%;
    width: fit-content;
}

.image-box {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    color: black;
}
  
.fit-image {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ajuste l'image pour remplir entièrement son conteneur sans déformation */
}
  
.image img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.header {
    background-color: black;
    height:150px;
    padding-top: 1px;
}

.ion-button {
    position: absolute;
    width: 45px;
    overflow: hidden;
    display: flex;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
}

.placeholder {
    background-color: #cccccc; /* Gris clair */
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: 100px; /* Ajustez la taille selon vos besoins */
}