<ion-header [translucent]="false">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Mon Compte
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="header"></div>

  <div *ngIf="!connected">
    <div class="flex"> 
      <div class="border-black">
        <div class="border-blanc">
          <img src="assets/profil.webp"/>
        </div>
        <ion-button class="ion-button" color="dark">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </div>  
    </div>  
    <!-- Ajoutez ici les éléments que vous souhaitez afficher lorsque l'utilisateur n'est pas connecté -->
  </div>

  <ion-card *ngIf="!connected">
    <ion-card-header class="font1">
      Bienvenue !
    </ion-card-header>
    <ion-card-content>
      <p class="font2">
        Inscris-toi ou connecte-toi pour bénéficier d'offres exclusives et rester informé(e) de nos nouveautés !
      </p>
      <br>
      <ion-button shape="round" color="dark" expand="block" (click)="redirectToLogin()">
        {{ connected ? 'Connecte-toi !' : 'Inscris-toi !' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="flex" *ngIf="connected"> 
    <div class="border-black">
      <div class="border-blanc" *ngIf="photoURL">
        <img [src]="photoURL || image" *ngIf="photoURL" [class]="imageClass + ' fit-image'"/>
        <div *ngIf="!photoURL" class="placeholder"></div>
      </div>
      <input type="file" accept="image/*" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
      <ion-button class="ion-button" *ngIf="connected" color="dark" (click)="openGallery()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>  
  </div>

  <ion-card *ngIf="connected">
    <ion-card-content *ngIf="(user | async) as userData">
      <ion-list>
        <ion-item>
          <ion-label>Nom:</ion-label>
          <ion-note>{{ userData.displayName ? userData.displayName : 'Aucun' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-note>{{ userData.email ? userData.email : 'Aucun' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Numéro de téléphone:</ion-label>
          <ion-note>{{ userData.phoneNumber ? userData.phoneNumber : 'Aucun' }}</ion-note>
        </ion-item>
        <!-- Ajoutez d'autres propriétés de l'utilisateur si nécessaire -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="connected" (click)="uploadFirebase()" expand="block" shape="round" color="dark">
    <ion-label>Enregistrer les changements</ion-label>
  </ion-button>
</ion-content>
