<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Mon Compte
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="header"></div>

  <div class="flex"> 
    <div class="border-black">
      <div class="border-blanc">
        <img [src]="image"/>
      </div>
      <ion-button (click)="addPhoto()" color="dark">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>  
  </div>

  <ion-card>
    <ion-card-content *ngIf="(user | async) as userData">
      <ion-list>
        <ion-item>
          <ion-label>Nom:</ion-label>
          <ion-note>{{ userData.displayName ? userData.displayName : 'Aucun' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-note>{{ userData.email ? userData.email : 'Aucun' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Numéro de téléphone:</ion-label>
          <ion-note>{{ userData.phoneNumber ? userData.phoneNumber : 'Aucun' }}</ion-note>
        </ion-item>
        <!-- Ajoutez d'autres propriétés de l'utilisateur si nécessaire -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="uploadFirebase()" expand="block" shape="round" color="dark">
    <ion-label>Enregistrer les changements</ion-label>
  </ion-button>
</ion-content>
