ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/demo2.JPG") no-repeat center center / cover;  
}


.label {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-weight: 720;
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.boot {
    font-size: 13px;
    font-weight: 720;
}