.background-image {
    display: none;
    background-image: url("/assets/demo2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.center-text {
    text-align: center;
}