<ion-header>
  <ion-toolbar>
    <ion-title>Location</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/location-et-vente" text="back">
        retour
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card shape="round">
    <ion-row >
      <ion-col size="5">
        <ion-item type="test">Votre ville</ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-select value="brown" okText="Okay" cancelText="Annuler"
          (ionChange)="CityNameChange($event)" [value]="CityName">
          <ion-select-option *ngFor="let city of CityJson" value={{city.name}}>{{city.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="5">
        <ion-item type="test">Votre marque</ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-select value="brown" okText="Okay" cancelText="Annuler"
          (ionChange)="CarNameChange($event)" [value]="CarName">
          <ion-select-option *ngFor="let car of CarJson" value={{car.name}}>{{car.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-item lines="none">
      <ion-input color="black" type="test"  placeholder="Date et heure de départ"></ion-input>
      <ion-icon slot="end" name="calendar"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-input color="black" type="test" placeholder="Date et heure de retour"></ion-input>
      <ion-icon slot="end" name="calendar"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
