<ion-app>
  <ion-menu color="dark" side="start" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Panier
        </ion-item>
        <br>
        <ion-item>
          <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
          message
        </ion-item>
        <br>
        <ion-item>
          <ion-icon slot="start" name="heart-outline"></ion-icon>
          favoris
        </ion-item>
        <br>
        <ion-item>
          <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
          emploi du temps
        </ion-item>
        <br>
        <ion-item>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          contactez-nous
        </ion-item>
        <br>
        <ion-item>
          <ion-icon slot="start" name="help-circle-outline"></ion-icon>
          à propos
        </ion-item>
        <br>
        <ion-button color="dark" (click)="logout()" shape="round" expand="block">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Déconnexion
        </ion-button> 
        <br>
        <ion-button color="dark" shape="round" (click)="retour()" expand="block">
          Quitter la session inviter
        </ion-button> 
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
