ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/demo2.JPG") no-repeat center center / cover;
    height: 100%;
}

.item {
    width: 19.5rem;
    position: relative;
    transform: translate(1%, -5%);
}

.input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important
}

.carre {
    width: 20rem;
    height: 20.5rem;
    position: absolute;
    top: 50%;
    left:48%;
    transform: translate(-50%, -40%);
}

.otpinput {
    letter-spacing: 30px;
    -webkit-padding-end: 0;
    --padding-end: 0;
    font-size: 30px;
    border: none;
    background: white;
}
.white {
    color: white;
}
.OTP-border {
  ion-col {
    div {
      border-bottom: 1px solid;
    }
  }
}


.error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
}

.input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
}

.phoneCountry {
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin-left: 2px;
}

.police {
    position: absolute;
    left:48%;
    font-size: 23px;
    color:  rgb(175, 172, 172);
    transform: translate(-50%, -90%);
}
  
.police2 {
    position: absolute;
    left:48%;
    font-size: 15px;
    color:  rgb(175, 172, 172);
    transform: translate(-50%, -0%);
}

.logo ion-icon {
    height: 160px;
    position: relative;
    font-size: 9em;
    top: 50%;
    left:50%;
    color:  rgb(175, 172, 172);
    transform: translate(-50%, -50%);
}
  
.logo {
    left: -2%;
    height: 160px;
    position: relative;
    color: rgb(175, 172, 172);
}

.label {
    font-size: 13px;
    font-weight: 720;
    position: relative;
    top: 30%;
}